html{
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
  font-family: 'Open Sans', monospace;
}
h4 {
  margin: 0;
  font-family: 'Montserrat', 'Open Sans', monospace;
}
h5 {
  margin: 0;
  font-family: 'Open Sans', monospace;
}
p {
  margin: 0;
  font-family: 'Open Sans', monospace;
}